.todo-container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

input {
  width: 300px;
  padding: 10px;
  margin-right: 10px;
}

select {
  margin-right: 10px;
}

button {
  padding: 10px;
  margin: 5px;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item.completed {
  text-decoration: line-through;
  background-color: #d4edda;
}

.task-actions button  {
  margin-left: 5px;

}

h1 {
  margin-bottom: 20px;
}
